<!DOCTYPE html>
<html lang="swe" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Region Applikation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>
<h1>Corona Spårhund</h1>
<p>Hemsidan spårar förändringen av bekräftadefall från föregående vecka, så när som på procenten.</p>
<div class="jumbotron jumbotron-fluid" style="background-color:#fcd4e5">
    <div class="container">
        <h1 class="display-4"th:text="${totalThisWeek}"></h1>
        <p class="lead" th:text="'Bekräftade fall denna vecka. Förra veckan raporterades ' + ${totalLastWeek} + ' fall, vilket blir '+ ${totalDiff} + '% förändring sen förra veckan'"></p>
    </div>
</div>

<div class="table-responsive col-sm-8">
<table class = "table">
    <thead>
    <tr>
        <th>
            <p th:if="${firstList[0].diffFactor} >= 0" th:text = "'Län(Ökande)'"></p>
            <p th:unless="${firstList[0].diffFactor}  >= 0" th:text = "'Län(Avtagande)'"></p>
        </th>
        <th>Förra Veckan</th>
        <th>Denna Vecka</th>
        <th colspan="2">Diff</th>
        <th>
            <p th:if="${secondList[0].diffFactor} >= 0" th:text = "'Län(Ökande)'"></p>
            <p th:unless="${secondList[0].diffFactor}  >= 0" th:text = "'Län(Avtagande)'"></p>
        </th>
        <th>Förra Veckan</th>
        <th>Denna Vecka</th>
        <th>Diff</th>
    </tr>
    </thead>
    <tr th:each="RegionCase, iter: ${firstList}">
        <td th:text="${firstList[iter.index].region}"></td>
        <td th:text="${RegionCase.casesLastWeek}">0</td>
        <td th:text="${RegionCase.casesThisWeek}">0</td>
        <td th:text="${RegionCase.diffPercentage} + '%'" style="background-color:#feffe6"></td>

        <td th:if="${iter.index} < ${secondListLength}", colspan="2" th:text="${secondList[iter.index].region}"></td>
        <td th:if="${iter.index} < ${secondListLength}" th:text="${secondList[iter.index].casesLastWeek}">0</td>
        <td th:if="${iter.index} < ${secondListLength}" th:text="${secondList[iter.index].casesThisWeek}">0</td>
        <td th:if="${iter.index} < ${secondListLength}" th:text="${secondList[iter.index].diffPercentage}+'%'" style="background-color:#feffe6"></td>

    </tr>


</div>
</div>
</body>

</html>